@font-face {
  font-family: 'FunnelDisplay ExtraBold';
  src: url('/fonts/FunnelDisplay-ExtraBold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
}

html, body {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-family: 'FunnelDisplay ExtraBold', Arial, sans-serif;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}
