@keyframes fromBelow {
  from { opacity: 0; transform: translateX(45px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fromAbove {
  from { opacity: 0; transform: translateX(-45px); }
  to   { opacity: 1; transform: translateX(0); }
}

.forward {
  animation: fromBelow 0.7s ease backwards;
}

.back {
  animation: fromAbove 0.7s ease backwards;
}
